@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import "custom";

html{
    position: relative;
    min-height: 100%;
}

footer.footer{
    padding: 10%;
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 223px;
}

.catering {
    position: relative;
    margin-bottom: 15px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../Images_QA/catering.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }
    
    .catering-content {
        display: flex;
        position: relative;
        height: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.image-card {
    position: relative;
    &:hover {
        .titre-image,.action-image-button {
            opacity: 1;
        }
        img {
            filter:brightness(0.3);
        }
    }

    img {
        transition: all 0.3s;
    }

    .titre-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }

    .action-image-button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.3s;
    }
}

.form-label {
    color: $primary;
}

.nav-link {
    &:hover {
        color:white
    }
}

.allreservations {
    a {
        display: block;
        color: $black;
        padding: 10px;
    }
}
