@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import "custom";

html{
    position: relative;
    min-height: 100%;
}

footer.footer{
    padding: 10%;
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 223px;
}

.catering {
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../Images_QA/catering.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }
    
    .catering-content {
        display: flex;
        position: relative;
        height: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}